.row.list.scans{class: "row-#{scan.id}", data: {scan: "#{scan.id}"} }
	.col-xs-2.col-md-1.first-block
		%p=time_ago_in_words scan.created_at
	.col-xs-2.col-md-1
		%p=scan.info[0]
	.col-xs-2.col-md-1
		%p=scan.info[1]
	.col-xs-2.col-md-1.ticker
		%p=scan.info[2]
	.col-xs-2.col-md-1
		%p=scan.info[3]
	.col-xs-2.col-md-1
		%p=scan.info[4]
	.col-xs-2.col-md-1.ptb
		%p=scan.info[5]
	.col-xs-2.col-md-1
		%p=scan.info[6]
	.col-xs-2.col-md-1
		%p=scan.info[7]
	.col-xs-2.col-md-1
		%p=scan.info[8]
	.col-xs-2.col-md-1
		%p=scan.info[9]
	.col-xs-2.col-md-1
		%p=scan.info[10]
	%p{class: "selector more-info scan-#{scan.id}", data: { scan_stock: "#{scan.stock}", scan_id: "#{scan.id}" }}More Info